DATABASE_URL="postgresql://xxxxxxxxxxx"
NEXT_PUBLIC_BASE_URL="https://yourdomain.tld"
RESEND_API_KEY="re_xxxxxxxxxxxxx"
RESEND_AUDIENCE_ID="xxxx-xxxx-xxxx"
PILOT_PERSONAL_EMAIL="youremail@domain.tld"
NEXT_PUBLIC_PILOT_NAME="Your name"
# Replace with the https://yourdomain.tld
WWW="http://localhost:3000"